<form action="/searches" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="search">Search</label>
	<input name="q" type="text">
	<input type="submit" value="Search">
</form>